extends ../shared/template

block content

  header
    .container
      h1 Contact


      .about-guides
          .container
              h2 Get to know your Pet Factory
                p Not sure where to send your pet?
                  .row
                    .col-md-4
                      .thumbnail
                        img(src="http://goo.gl/0sX3jq")
                      .thumbnail
                        img(src="http://goo.gl/an2HXY")
                    .col-md-4
                      .thumbnail
                        img(src="http://goo.gl/Av1pac")
                      .thumbnail
                        img(src="http://goo.gl/vw43v1")
                    .col-md-4
                      .thumbnail
                        img(src="http://goo.gl/0Kd7UO")
